cpu {
	display: block;
	position: absolute;
	width: 558px;
	height: 126px;
}

cpu#left {
	margin: 0 auto;
	bottom: 4px;
	left: 0;
	right: 0;
	-webkit-transform: rotate(90deg) translate(-320px, 448px);
	-webkit-transform-origin: 50% 53%;
}

cpu#top {
	margin: 0 auto;
	top: 4px;
	left: 0;
	right: 0;
	-webkit-transform: rotate(180deg);
}

cpu#right {
	margin: 0 auto;
	bottom: 4px;
	left: 0;
	right: 0;
	-webkit-transform: rotate(270deg) translate(322px, 448px);
	-webkit-transform-origin: 50% 53%;
}