html, body, view {
    top: 0;
    bottom: 0;
    width: 1024px;
    height: 768px;
    position: absolute;
    background: #ffffff;
}

body {
    font-family: 'Helvetica Neue';
    color: black;
    font-weight: 200;
    background: white;
    font-size: 36px;
}

.db {
    display: block;
}

.dib {
    display: inline-block;
}