cardimg {
	display: block;
	height: 232px;
	width: 154px;

	-webkit-transform:scale(0.5);
	-webkit-transform-origin: 0 0;
}

card {
	display: block;
	height: 116px;
	width: 77px;
	bottom: 0;
	position: absolute;
}

card.inhand:not(.moved):hover {
	bottom: 35px;
}

player card.moved, cpu#top card.moved {
	-webkit-transition-duration: 0.5s;
	bottom: 200px;
	left: 241px!important;
}

cpu#left card.moved, cpu#right card.moved {
	-webkit-transition-duration: 0.5s;
	bottom: 310px;
	left: 241px!important;
}
