cardimg {
	display: block;
	height: 232px;
	width: 154px;

	-webkit-transform:scale(0.5);
	-webkit-transform-origin: 0 0;
}

card {
	display: block;
	height: 116px;
	width: 77px;
	bottom: 0;
	position: absolute;
}

card.inhand:not(.moved):hover {
	bottom: 35px;
}

card.moved.inhand {
	-webkit-transition-duration: 0.5s;
	bottom: 200px;
}

card.moved:not(.inhand) {
	-webkit-transition-duration: 0.5s;
	bottom: 200px;
}
